@page "/"

@using Bakr.Data
@using Bakr.Endpoints
@using Bakr.Shared.Entities
@using System.Text.Json
@using Microsoft.AspNetCore.Http.HttpResults

@inject NavigationManager NavigationManager
@attribute [Authorize]
@attribute [StreamRendering]
@inject ApplicationDbContext dbContext

<PageTitle> Product Catalog</PageTitle>


@if(products is not null) {
    <div class="row g-3 card-group mt-2">
        @foreach(Product product in products) {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 20rem;">
                    @if(product.Picture is not null && product.Picture != "") {
                        compinedUrl = imageUrl + product.Picture;
                    } else {
                        compinedUrl = imageUrl + "defualt.webp";
                    }
                    <img src="@compinedUrl" class="card-img-top img-thumbnail" alt="@product.Name" style="height: 250px; object-fit: cover;">
                    <div class="card-body" style="height: 330px;">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text" style="height: 125px; text-overflow: ellipsis; overflow: hidden;">@product.Description</p>
                        @if(product.Genre is not null) {
                            <h6 class="fw-lighter">Genre: @product.Genre.Name</h6>
                        }
                        <h6 class="fw-lighter">Quantity: @product.Quantity</h6>
                        <h5>Price: @product.Price</h5>
                        <div class="d-flex">
                            <a href="#" class="btn btn-primary me-2">Go somewhere</a>
                            <AuthorizeView Policy="AdminPolicy">
                                <a href="/NewProduct/@product.Id" class="btn btn-primary me-2" role="button">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@GetDeleteModalId(product)">
                                    <i class="bi bi-trash3"></i>
                                </button>
                                <CascadingValue Value="this">
                                    <DeleteProduct Product="@product" />
                                </CascadingValue>
                            </AuthorizeView>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else {
    <CardPlaceholder />
}

@code {
    private List<Product>? products;

    protected override async Task OnInitializedAsync() 
    {
        products = await ProductsEndpoint.GetProductsAsync(dbContext) switch 
        {
            Ok<List<Product>> ok => ok.Value,
            _ => []
        };
    }
    
    private static string imageUrl = "api/filesave/Assets/Products/";

    private string? compinedUrl;

    private string GetDeleteModalId(Product product)
    {
        return $"#{DeleteProduct.GetModalId(product)}";
    }
} 
