@using Bakr.Client.Pages.Components
@using Bakr.Shared.Clients
@using Bakr.Shared.Entities
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@attribute [StreamRendering]
@rendermode InteractiveWebAssembly
@inject ProductsClient Client
@inject NavigationManager NavigationManager

<PageTitle> Product Catalog</PageTitle>

@if(products is not null) {
    <div class="row g-3 card-group mt-2">
        @foreach(Product product in products) {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                <img src="https://i5.walmartimages.com/seo/FitRx-SmartBell-Quick-Select-Adjustable-Dumbbell-for-Home-Gym-5-52-5-lbs-Weight-Black-Single_2ca41580-034b-4113-be6b-41148163f94f.ccfc5eff9cced3c1c2296e670813f5a2.png" class="card-img-top img-thumbnail" alt="..." style="height: 250px; object-fit: cover;">
                <div class="card-body" style="height: 330px;">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text" style="height: 125px; text-overflow: ellipsis; overflow: hidden;">@product.Description</p>
                    @if(product.Genre is not null) {
                        <h6 class="fw-lighter">Genre: @product.Genre.Name</h6>
                    }
                    <h6 class="fw-lighter">Quantity: @product.Quantity</h6>
                    <h5>Price: @product.Price</h5>
                    <div class="d-flex">
                        <a href="#" class="btn btn-primary me-2">Go somewhere</a>
                    </div>
                </div>
                </div>
            </div>
        }
    </div>
}
else {
    <div class="d-flex justify-content-center">
        <div class="spinner-border m-5" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}

@code {
    private Product[]? products;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if(firstRender) await GetProductsAsync();
    }

    private async Task GetProductsAsync() {
        products = await Client.GetProductsAsync();
        StateHasChanged();
    }
} 
